* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-size: 12px;
	min-height: 100vh;
	display: flex;

}

.cnt {
	margin: auto;
	padding: 0 15px;
	max-width: 580px;
	width: 100%;
}

form {
	background: #1F2937;
	padding: 24px 15px;
	display: flex;
	justify-content: space-between;
}

input {
	width: 61px;
	height: 43px;
	border: 5px solid #E5E5E5;
	flex-shrink: 0;
}

label {
	display: block;
	position: relative;
	margin: 0 12px;
	max-width: 312px;
	width: 100%;
}

.select {
	position: relative;
	flex-grow: 1;
	margin: 0 15px;
}

.select .selected,
.select .items {
	position: absolute;
	width: 100%;
}

.select .selected {
	z-index: 1;
	padding: 9px 39px 9px 13px;
	background: #1F293A;
	border: 1px solid #D1D5DB;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	color: #D5D4D8;
	font-weight: 400;
	font-size: 16px;
}

.select .selected::after {
	position: absolute;
	right: 10px;
	top: 10px;
	transform-origin: 10px 10px;
	transform: rotate(0);
	transition: transform 0.5s;
	content: url(img/selector.svg);
	display: block;
}

.select.opened .selected::after {
	transform: rotate(90deg);
}

.select .items {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	background: #1F2937;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	margin-top: 35px;
	transition: transform .5s;
	transform-origin: center top;
	transform: scaleY(0);
}

.select .items div {
	position: relative;
	padding: 8px 38px 8px 12px;
}

.select.opened .items {

	transform: scaleY(1);
}

.select .selected-item {
	font-weight: bold;

}

.select .selected-item::after {
	content: url(img/check.svg);
	position: absolute;
	right: 10px;
	top: 10px;
}

button {
	background-color: #3D4B60;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	padding: 11px;
	color: white;
	font: inherit;
	border: none;
	cursor: pointer;

}

button:disabled {
	background-color: lightgray;
	color: #000;
	cursor: default;
}

button:hover:not(:disabled) {
	background-color: #92a6c3;
}


.colors {
	display: flex;
}

.colors>div {
	flex: 20% 0 0;

}

.color {
	flex-grow: 1;
	padding-bottom: 500%;
	border: 1px solid #000;

}

.value {
	position: relative;
	padding: 11px 20px;
	text-align: center;
	background: #1F2937;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
	color: #D5D4D8;
}

.copied {
	animation: copied 1s;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	color: #000;
}

@keyframes copied {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}

}